html{

    scroll-behavior: smooth;
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333;
    color:#fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
   
}

a{
    text-decoration: none;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

h1,h2,h3{
    margin: 0;
    padding: 1em 0;
}

p{
    font-size: 1em;
    margin: 0;
    padding: 1em 0;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .loader {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    border: 3px solid #Fff;
    animation: loader 3s infinite ease;
    margin-right: 10px;
  }

  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 3s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

.btn{
    display: inline-block;
    background-color: #333333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
}

.btn:hover{
    background: #eaeaea;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color:#333;
}

.grow-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .grow-on-hover:hover, .grow-on-hover:focus, .grow-on-hover:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

#showcase{
    min-height: 450px;
    color: #fff;
    text-align: center;
}

#showcase .bg-image{
    position: absolute;
    background: #333 url('/images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    z-index: -1;
    animation: opacity 4s none;
    opacity: 0.3;
    overflow: hidden;
}

@keyframes opacity {
    0% { opacity:1; }
    100% { opacity: 0.3; }
}

#showcase h1{
    padding-top: 100px;
    padding-bottom: 0;
}

#showcase .content-wrap{
    padding: 0 1.5em;
    opacity: 1;
    animation: opacity2 2.5s none;
    animation-delay: 1;
}

@keyframes opacity2 {
    0% { opacity:0.0; }
    100% { opacity: 1; }
}



/* Section A */
#section-a{
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}

/* Section B */
#section-b{
    padding: 2em 1em 1em;
}
#section-b ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #333;
}

#section-b li{
    margin-bottom: 1.5em;
    background: #333;;
    color:#333;
}


.card{
    
    transition-timing-function: ease;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}
.card:hover{
    transform: translateY(-0.6%);
    box-shadow: 0 4rem 6rem #0f0f0f;
}

.card .card-button{
    background: #0f0f0f;
    width: 100%;
    padding: 0.5em;
    transition: 3s;
}

.card .card-button:hover a i,
.card.card-button:active a i{
  transform: scale(1.24);
  color:#0f0f0f;
}

.card-button a i {
    margin-left: 0.4rem;
  }

  .card-button a {
    transition: 0.5s;
  }

  .card-button:hover{
    background: #d9d9d9;
}

.card-button:hover a{
    color:#0f0f0f;
}

.card-title{
    padding-top: 0;
    padding-bottom: 0;
}

.card-content{
    background: #fff;
    padding: 1em 1em 0 1em;
}

.card a{
    text-decoration: none;
    color: #fff;
}

.icon{
    position: relative;
    top:5px;
}

/* Section C */

#section-c{
    background: #fff;
    color:#333;
    padding: 2em;
}

/* Section D */

#section-d .box{
    color:#fff;
    padding: 2em;
}

#section-d .box:first-child{
    background: #2690d4;
}

#main-footer a i{
    color:#fff;
    text-decoration: none;
}

/* Footer */

#main-footer{
    padding: 2em;
    background: #000;
    color:#fff;
    text-align: center;
}

#main-footer a{
    color:#2690d4;
    text-decoration: none;
}

/* Media Queries */

@media(min-width: 768px){
    .grid{
        display:grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    
    #section-a .content-text{
        columns: 2;
        column-gap: 2em;
    }

    #section-a .content-text p{
        padding-top: 0;
    }

    .content-wrap, #section-b ul{
        grid-column: 2/4;
    }
    

    .box, #main-footer div{
        grid-column: span 2;
    }

    #section-b ul{
        display:flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    #section-b li{
        width:49%;
    }
}

@media(max-width: 480px){
    #showcase h1{
        padding: 30px;
    }
    .btn{
        font-size: 0.9em;
        margin-bottom: 1em;
    }
}